#inscription-box {
    padding-top: 10%;
    #inscription-title {
        color: black;
        font-weight: 400;
        font-size: 1.15rem;
    }
    #inscription-form {
        color: black;
        margin-left: 10%;
        width: 80%;
        ion-item{
            --background: #ffffff;
            --color: #626a79;
            // font-size: 0.8rem;
            ion-input {
                --color: black;
                font-weight: 100;
                font-size: 1rem;
            }
        }
    }
    #passwordErrors{
        margin-top: 5%;
        font-size: 0.8em;
        .red{
            color: red;
            margin-top: 0.2rem;
        }
        .green{
            color: #2dd36f;
            margin-top: 0.2rem;
        }
    }   
}
