<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
  <div id="inscription-box">

    <div id="inscription-title">
      <p>Créer un mot de passe</p>
    </div>
    
    <div id="inscription-form">
      
        <ion-item>
          <ion-label id="user-label" position="stacked">Mot de passe</ion-label>
          <ion-input (ionChange)="passwordRefresh()" id="user-input" type="password" formControlName="password"></ion-input>
        </ion-item>
      
    </div>

    <div id ="passwordErrors">
      <div [(ngClass)]="Classes.required">
        Le mot de passe est requis
      </div>
      <div [(ngClass)]="Classes.lower">
        Au moins une minuscule
      </div>
      <div [(ngClass)]="Classes.length">
        8 caracteres minimum
      </div>
      <div [(ngClass)]="Classes.digit">
        Au moins un chiffre
      </div>
      <div [(ngClass)]="Classes.upper">
        Au moins une majuscule
      </div>
      <div [(ngClass)]="Classes.special">
        Au moins un caractere special
      </div>
        
    </div>
        
  </div>
 
</form>