.red{
    --background: red;
    --color: white;
    ion-card-title{
        color: white;
    }
    ion-card-subtitle{
        color: white;
    }
}

.green{
    --background: green;
    --color: white;
    ion-card-title{
        color: white;
    }
    ion-card-subtitle{
        color: white;
    }
}

.orange{
    --background: orange;
    --color: white;
    ion-card-title{
        color: white;
    }
    ion-card-subtitle{
        color: white;
    }
}

.blue{
    --background: rgb(0, 153, 255);
    --color: white;
    ion-card-title{
        color: white;
    }
    ion-card-subtitle{
        color: white;
    }
}
