#wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    

    #content{
        height: 80vh;   
        padding-top: 20vh;
        padding-bottom: auto;   
        #logo{
            height: auto;
            width: auto;
            margin-right: auto;
            margin-left: auto;  
        }
    }
    
    
    #buttons{
        position: absolute;
        bottom: 0;
        width: 100%
    }

}






