<ion-content [fullscreen]="true">
    <div id="wrapper">
        <div id="content">
            <h1 ><span style="color: #3880ff">Task</span> <span style="color: #eb445a">Manager</span></h1>
        </div>
        
        <div id="buttons">
            <ion-button color="primary" expand="block" (click)="openConnexion()">Se connecter</ion-button>
            <ion-button color="danger" expand="block" (click)="openInscription()">S'inscrire</ion-button>
        </div>
    </div> 
</ion-content>




